body {
  background-color: green;
}

div {
  width: 100%;
  height: 100%;
  background-color: purple;
}
.robert {
  background-image:url("./artur-tumasjan-drH3VS476iY-unsplash.jpg") !important;
  width:100%;
  height:100%;
}
.harold {
  text-transform:uppercase;
}
.james  {
  background-color: grey;
}
.steve {
  background-color: pink;
}

.fred {
  border: solid black;
}
